<header class="site-header">
  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/">
      <img id="logo" src="/images/cam.jpg" width="128" />
    </a>
    <div id="banner">
      <a target="_blank" href="https://twitter.com/campedersen">twitter</a>
      <a target="_blank" href="https://github.com/ecto">github</a>
      <a target="_blank" href="https://keybase.io/ecto">keybase</a>
      <a target="_blank" href="mailto:cam@campedersen.com">email</a>
    </div>
  </div>
</header>
