<header class="site-header">
  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/">
      <img id="logo" src="/images/cam.jpg" width="128" />
    </a>
    <div id="banner">
      <a target="_blank" href="https://emerald.io">Consulting</a>
      <a target="_blank" href="https://www.linkedin.com/in/cam-pedersen/"
        >LinkedIn</a
      >
      <a target="_blank" href="https://twitter.com/campedersen">Twitter</a>
      <a target="_blank" href="https://github.com/ecto">Github</a>
      <a target="_blank" href="mailto:cam@campedersen.com">Email</a>
    </div>
  </div>
</header>
