<header class="site-header">
  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/">
      <img id="logo" src="/images/cam.jpg" width="64" />
      <!--{{ site.title }}-->
    </a>
    <div id="banner">
      <a href="https://twitter.com/campedersen">twitter</a>
      <a href="https://github.com/ecto">github</a>
      <a href="http://www.last.fm/user/campedersen">last.fm</a>
      <a href="mailto:cam@campedersen.com">email</a>
      <a href="/pubkey.txt">pubkey</a>
    </div>
  </div>
</header>
