<!--
      .-.
      \  \
       \  \     `(((())
        \  \     ).  c
         \  \     _  /
          \  \ //  _\\__
           \  \/\`\ ++ /|
            \//  \ \__/ |
           o/)    \_____)
           /=\.   .~~~~~|
          // \\   |_____|
         //   \\  | | | |
        //     \\ | | | |
       //      .\\( | ( |
      //         \\ | | |
     //          .\\| | |
    //           _|\\_| |
   //           (___\\__)
 .//                 \\

I also like astronomy!
-->
<!DOCTYPE html>
<html>
  {% include head.html %}<body>
{% include header.html %}<div class="page-content">
  <div class="wrap">
    {{ content | markdownify }}
  </div>
</div>
</body>
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '54b87364eddd5b524405f60a');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</html>
